@import "../../assets/styles/vars";

#catalog.catalog {
  display: grid;
  grid-template-areas:
  "... ... show-count"
  "removed movies movies"
  "... pages-nums ...";
  grid-template-columns: 250px 1fr;
  grid-gap: 1rem;
  padding: 1rem 0;
  position: relative;

  &.catalog {
    .black-list {
      grid-area: removed;
    }

    .show-count {
      grid-area: show-count;
    }

    .movies {
      grid-area: movies;
      display: grid;
      grid-template-columns: repeat(auto-fit, 300px);
      justify-content: space-around;
    }

    .pages-nums {
      grid-area: pages-nums;
    }

    @media (max-width: map-get($grid-breakpoints, lg)) {
      grid-template-columns: 1fr;
      grid-template-areas:
    "show-count"
    "removed"
    "movies"
    "pages-nums";
    }
  }
}
