@import "../../assets/styles/vars";

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(24, 23, 28, 0.8);
  display: none;

  &.show {
    display: flex;
  }

  &__container {
    height: 450px;
    width: 600px;
    margin: auto;
    border-radius: 8px;
    background: #fafafa;
    padding: .5rem 1rem;
  }

  &__head {
    color: $color-text-primary-opposite;
    @include flex($direction: row);
    column-gap: 10px;
  }

  &__body {
    display: flex;
  }

  &__foot {
    @include flex($direction: row);
    column-gap: 10px;
    padding: .5rem 0;
  }

  &__btn {
    width: 100%;
  }

  &__close {
    cursor: pointer;
    user-select: none;
  }
}