@import "../../assets/styles/vars";

.nav {
  padding: 1rem 0;
  height: $nav-height;

  &__login {
    color: $color-text-primary;
    display: flex;
    align-items: center;

    a {
      color: inherit;
      display: inherit;
      align-items: inherit;
    }
  }

  &_desktop {
    display: flex;
  }

  &_mobile {
    display: none;
  }

  &_sub {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;

    > div {
      margin: 0;
      height: 100%;
      display: flex;

      &:last-child {
        justify-self: end;
      }
    }

    + hr {
      color: $color-text-primary;
      width: 100%;
      margin: 1rem 0;
    }

    &__country {
      padding-right: 1rem;
      align-items: center;
    }

    &__phone {
      text-decoration: unset;
      color: $color-text-primary;
      display: flex;
      align-items: center;

      &:hover {
        color: $color-text-primary;
      }
    }

  }

  &__brand {
    height: calc(#{$nav-height} * .3);
  }

  &_main {
    &__links {
      display: flex;
      list-style: none;
      padding: unset;
      justify-content: space-around;
      text-transform: uppercase;
      font-size: $font-size - 2;
      height: 100%;
      letter-spacing: 5px;

      li {
        $border-image: linear-gradient(to right, $color-text-primary, $color-text-action) 47% 0;
        height: 100%;
        @include flex($direction: row);
        @include text-gradient(tint-color($color-text-primary-opposite, 60%), $color-text-action);

        a {
          color: inherit;
          text-decoration: unset;
          border-bottom: 1px solid transparent;

          padding-left: 5px;

          &:hover {
            border-bottom: 1px solid $color-text-action;
            border-image: $border-image;
          }

          &.active {
            border-bottom: 1px solid;
            border-image: $border-image;
          }
        }
      }
    }

    &__icons {
      display: flex;
    }

    &__desktop {
      display: grid;
      grid-template-columns: auto 1fr auto auto;
      align-items: center;
      justify-content: space-between;
    }

    &__mobile {
      align-items: center;
      justify-content: space-between;
    }
  }

  &__search {
    @include flex($justify: center);
    position: relative;

    input {
      $color: $color-text-primary-opposite;
      color: $color;
      width: 100%;
      border-radius: 8px;
      background: $color-text-primary;
      border-color: transparent;
      padding: .3rem 1rem;
      font-size: inherit;

      & + label {
        color: $color;
        position: absolute;
        right: 1rem;
        opacity: .4;
      }
    }
  }

  &__icon {
    padding-left: 1rem;

    a {
      color: $color-text-primary;
    }

    span {
      display: none;
    }

    &:hover {
      color: $color-text-action;
    }
  }

  &__basket {
    position: relative;

    span {
      position: absolute;
      border-radius: 50%;
      top: -.5rem;
      right: -.5rem;
      font-size: $font-size - 6;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $color-text-action;
      color: $color-text-primary;
    }
  }

  @media (max-width: map-get($grid-breakpoints, lg)) {
    $nav-height: 120px;
    height: $nav-height;

    hr {
      margin: .5rem 0;
    }

    &_desktop {
      display: none;
    }

    &_mobile {
      display: flex;
    }

    &__basket {
      padding: 0;
      color: $color-text-primary;
      font-size: $font-size;
    }

  }

}