@import "../../assets/styles/vars";

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;

  a {
    text-decoration: unset;
    color: $color-text-primary;

    &:hover {
      color: $color-text-primary;
    }
  }

  &__column {
    display: grid;
    grid-auto-rows: auto;
    padding-bottom: 1rem;
  }

  &__row {
    padding-top: .3rem;

    &_payments {
      display: flex;
      align-items: flex-end;
    }
  }

  &__social {
    font-size: $font-size - 2;
    display: flex;
  }

  &__title {
    padding: 0;
  }

  &__list {
    &.list {
      padding-top: .5rem;
      font-size: $font-size - 4;
    }

    .list {
      &__item {
        display: inline-block;
        margin-right: .3rem;
        margin-bottom: .1rem;
      }
    }
  }

  .payments {
    display: inline-flex;
    column-gap: 1rem;
    width: 100%;
    justify-content: flex-end;

    &__type {
      font-size: 2rem;
      background: transparent;
      color: $color-text-primary;
    }

    @media (max-width: map-get($grid-breakpoints, lg)) {
      padding: .5rem 0;
    }
  }

  .social {
    &__item {
      margin-right: 12px;

      &:hover {
        svg {
          color: $color-text-action;
        }
      }

      &::marker {
        font-size: 0;
      }
    }
  }

  .company {
    color: $color-text-primary;
    font-size: $font-size - 4;

    &__row {
      padding-top: .5rem;
    }

    &__address {
      color: $color-text-primary;

      > svg {
        font-size: $font-size + 2;
        padding-right: .5rem;
      }
    }

    &__name {
      text-transform: uppercase;
    }
  }

  @media (max-width: map-get($grid-breakpoints, lg)) {
    grid-template-columns: 1fr;
  }
}



